<div class="container">
    <div class="">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-repeat="dice in displayDice track by $index">
                <a href="" ng-click="scoreDice(dice)"><img class="dice-face" ng-src="{{dice.image}}"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-repeat="selectedDie in selectedDice track by $index">
                <img class="dice-face" ng-src="{{selectedDie.image}}"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                <button class="btn roll-btn" ng-click="rollDice()">Roll</button>
            </div>
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                <p ng-if="farkle">You Farkled!</p>
                <p ng-if="straight">You rolled a straight!</p>
                <p>Scoreboard</p>
                <p>{{tempScore}}</p>
                <p>{{totalScore}}</p>
            </div>
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                <button class="btn score-btn">Score It</button>
            </div>
        </div>
    </div>
</div>

