<div class="container">
    <div class="">
        <div class="row rolled-dice-row">
            <div ng-if="!displayDice || displayDice.length === 0" class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                 ng-repeat="i in emptyDisplayArray">
                <div class="blank-dice-face"></div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 dice-container"
                 ng-repeat="dice in displayDice track by $index">
                <a href="" ng-click="selectDice(displayDice[$index], $index)">
                    <img ng-class="appliedClass(dice)" class="dice-face" ng-src="{{dice.image}}"/>
                </a>
            </div>
        </div>
        <div class="row rolled-dice-row">
            <div ng-if="!selectedDice || selectedDice.length === 0" class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                 ng-repeat="i in emptyDisplayArray">
                <div class="blank-dice-face"></div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 dice-container"
                 ng-repeat="selectedDie in selectedDice track by $index">
                <a href="" ng-class="{ disabled: selectedDie.selectable }" ng-click="deselectDice(selectedDice[$index], $index)">
                    <img class="dice-face" ng-src="{{selectedDie.image}}"/>
                </a>
            </div>
        </div>
        <div class="row scoreboard">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                <button class="btn roll-btn" ng-disabled="disableRollButton"
                        ng-click="rollDice()">Roll</button>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                <h2 ng-if="farkle">You Farkled!</h2>
                <h3>Scoreboard</h3>
                <p>Round Score: {{roundScore}}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                <button class="btn score-btn" ng-disabled="selectedDice.length === 0 || farkle"
                        ng-click="addUpScoreOfSelectedDice()">Score It
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                <button class="btn score-btn" ng-click="newGame()">New Game</button>
            </div>
            <div class="col-xs-offset-2 col-sm-offset-2"></div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h4>Players</h4>
                <h5>{{alertMessage}}</h5>
                <div ng-repeat="player in players">
                    <div style="display: inline" ng-class="{ 'active-player': player.active }">
                        {{player.name}} - {{player.score}}
                        <button class="score-btn inline" ng-hide="gameHasBegun" ng-click="removePlayer(player)">X</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                    <input ng-hide="gameHasBegun" type="text" class="" id="playerName" placeholder="player name" ng-model="playerName">
                </div>
                <span class="input-group-btn">
                    <button class="btn score-btn" ng-hide="gameHasBegun" ng-click="addPlayer(playerName)">Add Player</button>
                </span>
            </div>
        </div>


    </div>
</div>

