body {
  background:url('img/mountainsdarkened.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #d8d6d6;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  border-bottom: #d8d6d6 2px solid;
}

.navbar-default .navbar-nav>li>a  {
  color: #d8d6d6;
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover {
  outline: 2px solid white;
  text-decoration: none;
  color: #d8d6d6;
}

.navbar-default .navbar-nav>li {
  margin-top: 3rem;
  text-align: center;
  color: #d8d6d6;
}

#footer {
  outline: none;
  border: none;
  color: #d8d6d6;
  text-decoration: none;
}

#footer:hover {
  background-color: transparent;
  outline: 2px solid white;
  text-decoration: none;
  color: #d8d6d6;
}

hr {
  border-color: #2b669a;
}

.skybtn {
  display: block;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  margin: 1rem;
  position: relative;
  text-decoration: none;
  text-align: center;
}

#headshot {
  border-radius: 100%;
  border: #2b669a 2px solid;
  width: 70px;
  text-align: center;
}

.headerButtons {
  line-height: 30px;
  text-align: center;
}




