<div class="container">
    <div class="">
        <div>
            Number of inputs into the sort methods.
            <br>
            <button class="inputButtons" ng-click="totalNumber = 100">100</button>
            <button class="inputButtons" ng-click="totalNumber = 1000">1000</button>
            <button class="inputButtons" ng-click="totalNumber = 10000">10000</button>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h3>Bubble Sort</h3>
                <p>Number of Milliseconds to sort an array with {{totalNumber}} numbers:
                    {{bubbleSortTime}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h3>Quick Sort</h3>
                <p>Number of Milliseconds to sort an array with {{totalNumber}} numbers:
                    {{quickSortTime}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h3>Merge Sort</h3>
                <p>Number of Milliseconds to sort an array with {{totalNumber}} numbers:
                    {{mergeSortTime}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h3>Selection Sort</h3>
                <p>Number of Milliseconds to sort an array with {{totalNumber}} numbers:
                    {{selectionSortTime}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h3>Roman Numeral Converter</h3>
                <label for="romanInput"></label>
                <input id="romanInput" type="number" placeholder="Enter a value ex: 5" value="romanInput"
                       ng-model="romanInput"/>
                <p ng-if="romanInput && romanInput < 1000">
                    {{romanInput}} converts to roman numeral <strong>{{convert()}}</strong>
                </p>
                <p ng-if="romanInput > 1000">Converter is set to work with numbers less than 1000</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h3>Is it an anagram?</h3>
                <form name="anagramForm">
                    <label for="anagramInputOne">Input One</label><br>
                    <input id="anagramInputOne" type="text"
                           placeholder="Enter a word or short phrase ex: I am a weakish speller"
                           ng-model="anagramInputOne" required/>
                    <br>
                    <label for="anagramInputTwo">Input Two</label><br>
                    <input id="anagramInputTwo" type="text"
                           placeholder="Enter another word or short phrase ex: William Shakespeare"
                           ng-model="anagramInputTwo" required/>
                </form>
                <p>
                    <strong ng-if="anagramOutput"> Success! </strong>
                    <strong ng-if="!anagramOutput"> Nope, that ain't right. </strong>
                </p>
                <button class="inputButtons"
                        id="anagramPopover"
                        ng-click="testAnagramInput()"
                        data-placement="bottom"
                        data-original-title="Not Enough Words"
                        data-trigger="manual"
                        data-content="I need two inputs to compute if they are an anagram">
                    Search
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h5>To Do List:</h5>
                <ul style="list-style-type:disc">
                    <li>Building a Binary Tree</li>
                    <li>Building a Hash Table</li>
                    <li>Finding an optimal hash for a static hash table</li>
                    <li>Approximate optimization (or search) by bifurcation (binary search).</li>
                    <li>Dijkstra’s Algorithm (or any other graph search algorithms)</li>
                    <li>LU decomposition (any method).</li>
                    <li>Fisher-Yates Shuffle (and/or other set and permutation related algorithms).</li>
                    <li>Minimum Spanning Trees (e.g. Prim’s Algorithm).</li>
                    <li>Cache Locality</li>
                </ul>
            </div>
        </div>
    </div>
</div>

