.inputButtons {
    color: black;
    margin: 4px;
}

#romanInput {
    color: black;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

input, .popover, .popover-title, .popover-content {
    color: black;
}