.jobBackground {
    color: #d8d6d6;
    padding: 10px 4px 8px 10px;
    margin-bottom: 30px;
    border-bottom: #23527c 2px solid;
}

.logos {
    box-shadow: 3px 3px 2px #c7ddef;
}

.skillList {
    left: -50px;
}


.skillsList>div {
}

.boxes {
    float: left;
}

span {
    float: left;
}

ul {
    list-style: none;
}

.category {
    margin-bottom: 1rem;
}

.parallelogram {
    width: 20px;
    height: 12px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #204d74;
    margin: 2px;
    box-shadow: 2px 2px 2px #c7ddef;
}